[mysqld]
admin_address = 127.0.0.1
admin_port = 33062
admin_tls_version = TLSv1.2,TLSv1.3
auto_generate_certs = ON
bind-address = 0.0.0.0
binlog_expire_logs_seconds = 2592000
binlog_row_image = minimal
caching_sha2_password_auto_generate_rsa_keys = ON
datadir = /var/lib/mysql
disabled_storage_engines = MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY
enforce_gtid_consistency = ON
general_log = 1
general_log_file = /var/log/mysql/query.log
gtid_mode = ON
key_buffer_size = 16M
log_bin = /var/log/mysql/mysql-bin.log
log_error = /var/log/mysql/error.log
long_query_time = 2
max_binlog_size = 100M
mysqlx-bind-address = 0.0.0.0
pid-file = /var/run/mysqld/mysqld.pid
plugin_load_add = mysql_clone.so
port = 3306
read-only = OFF
relay_log = /var/lib/mysql/relay_bin
relay_log_recovery = 1
replica_parallel_workers = 1
replicate_same_server_id = 0
report_host = {{ ansible_fqdn }}
require_secure_transport = OFF
server-id = {{ server_id }}
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
socket = /var/run/mysqld/mysqld.sock
sync_binlog = 1
tls_version = "TLSv1.2,TLSv1.3"
tmpdir = /tmp
transaction-isolation = READ-COMMITTED
user = mysql
